<h2>Login</h2>

<form method='post' action='/login'>
	<label for="login" class="rem">Login:</label>
	<input type="text" name="login" size="30"/>
	<label for="password" class="rem">Password:</label>
	<input type="text" name="password" size="30"/>
	<input type="submit" name="Login"/>
</form>